# Directories
/.github export-ignore
/.wordpress-org export-ignore
/src export-ignore

# Files
/.gitattributes export-ignore
/.gitignore export-ignore
/composer.json export-ignore
/composer.lock export-ignore
/grumphp.yml export-ignore
/package.json export-ignore
/package-lock.json export-ignore
/README.md export-ignore
