.wp-gp-pp-container {
    position: relative;
}

.wp-gp-pp-container.is-playing .wp-gp-pp-gif-thumbnail {
    display: none;
}

.wp-gp-pp-container.is-playing .wp-gp-pp-gif {
    display: block;
}

.wp-gp-pp-overlay {
    align-items: center;
    cursor: pointer;
    display: inline-flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}

.wp-gp-pp-play-button {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    border: 3px dashed white;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    height: 90px;
    justify-content: center;
    opacity: 1;
    user-select: none;
    visibility: visible;
    width: 90px;
}

.wp-gp-pp-play-button.is-playing {
    visibility: hidden;
    opacity: 0;
    transition: visibility .5s, opacity .5s linear;
}

.wp-gp-pp-gif {
    display: none;
}
