name: "Update assets and README"

on:
  push:
    branches:
      - master

jobs:
  master:
    if: "! contains(toJSON(github.event.commits.*.message), '[skip-ci]')"

    name: "Push to master"

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@master
      - name: WordPress.org plugin asset/readme update
        uses: 10up/action-wordpress-plugin-asset-update@master
        env:
          SVN_USERNAME: ${{ secrets.SVN_USERNAME }}
          SVN_PASSWORD: ${{ secrets.SVN_PASSWORD }}
          SLUG: "wp-gif-player-play-pause"
